<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>albumName</key>
	<string></string>
	<key>artistName</key>
	<string>GRNCH</string>
	<key>coverURL</key>
	<string>NA</string>
	<key>currentPosition</key>
	<string>70.271003723144</string>
	<key>oldFilename</key>
	<string>/Users/grinch/Library/Application Support/Übersicht/widgets/now-playing.widget/lib/cover354.jpg</string>
	<key>songChanged</key>
	<string>false</string>
	<key>songDuration</key>
	<string>366.053009033203</string>
	<key>songName</key>
	<string>slashdot</string>
</dict>
</plist>
